h1, h2{
    text-align: center
}

div{
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    margin-bottom: 20px;
}

#answersDiv{
    margin-top: 50px;
}

.input-group{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.time{
    padding: 0;
    display: inline-block;
}

#start{
    margin-left: auto;
    margin-right: auto;
}
